<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @carro.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @carro.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @carro.year %>
</p>

<%= link_to 'Edit', edit_carro_path(@carro) %> |
<%= link_to 'Back', carros_path %>
