<p id="notice"><%= notice %></p>

  <table>
    <thead>
      <tr>
        <th>Kipu Insurance ID</th>
        <th>Payer Name</th>
        <th>Payer Synonym</th>
        <th>API Payer ID</th>
      </tr>
    </thead>
    <% @payers.each do |payer| %>
      <%= form_for payer, remote: true do |f| %>
        <tr>
          <td><%= f.text_field :kipu_insurance_id %> </td>
          <td><%= f.text_field :payer_name %> </td>
          <td><%= f.text_field :payer_synonym %> </td>
          <td><%= f.text_field :api_payer_id %> </td>
          <td><%= f.submit :someter %></td>
        </tr>
      <% end %>
    <% end %>
  </table>